.navbar {
    margin-bottom: 3%;
}

.btn {
    color: whitesmoke;
    background-color: rgb(211, 29, 29);
    margin: 10px 0 10px 0;
    height: 50px;
    width: 300px;
    border: none;
}

.bar {
    margin: 10px 0 10px 0;
    height: 50px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}