@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.alert-center {
    background-color: rgba(211, 29, 29, 0.6);
    border-radius: 10px;
    padding: 20px 20px;
    margin: 25px;

    h3 {
        color: black;
        font-weight: bold;
    }

    .alert-button {
        display: inline-block;
        text-decoration: none;
        background: transparent;
        color: black;
        border: 1px black solid;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
    }

    .alert-button:hover {
        transform: scale(1.05);
        color: wheat;
        background-color: #00000080;
    }

    .cancel {
        transition: 0.5s;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
    
    .cancel:hover {
        transition: 0.5s;
        transform: scale(1.5);
    }
}

.info-center {
    text-align: left !important;

    p {
        font-size: 13px;
        font-style: italic;
        margin: 10px 0 25px 0;
        a {
            text-decoration: none;
            color: rgb(33, 37, 41);
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    ul {
        margin: 0;
        padding-left: 1rem;
    }
}