.coffee-center {
    /* background-color: rgb(176, 215, 216); */
    background-color: wheat;
    border: 5px solid black;
}

.coffee-div {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;

    img {
        border: 5px solid black;
        background-color: chocolate;
        border-radius: 25px;
        border-bottom-left-radius: 50px;
        width: 200px;
        height: 200px;
    }
    
    .coffee-button {
        background-color: chocolate;
        border: 5px solid black;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        color: black;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        width: 50%;
    }

    .coffee-button:hover {
        background-color: rgba(210, 105, 30, 0.5);
    }
}

@media screen and (max-width: 1200px) { /*Phone mode*/
    
    .coffee-div {
        text-align: center;
    }
    
    .coffee-button {
        width: 75%;
    }

    .coffee-img  {
        display: none;
    }
}

@media screen and (min-width: 1201px) {/*Desktop mode*/
    .coffee-mini {
        display: none;
    }
}