:root {
    --color: whitesmoke;
    --input-color: white;
}

body {
    z-index: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color);
}

body::backdrop {
    background-color: var(--color);
}

#logo {
    transition: 1s;
}

#logo:hover {
    transition: 1s;
    transform: scale(1.1) rotate(90deg);
}

.clickable {
    transition: 1s;
}

.clickable:hover {
    transition: 1s;
    transform: scale(1.1);
}

nav {
    color: whitesmoke;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

#main {
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 3%;
}

.gadgets {
    display: flex;
    justify-content: space-between;
}

.div {
    position: relative;
    display: inline-block;
    margin: 10px 0;
}

.label {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error {
    display: none;
    color: red;
}

.btn {
    transition: 1s;
    color: whitesmoke;
    background-color: rgb(211, 29, 29);
    /* margin: 10px 0 10px 0; */
    height: 50px;
    border: none;
}

.btn:hover {
    transition: 1s;
    background-color: rgba(211, 29, 29, 0.6);
    color: whitesmoke;
    transform: scale(1.02);
    height: 50px;
    border: none;
}

.input {
    /* background-color: #2b3035; */
}

.input:focus, .form-select:focus {
    border-color: rgba(211, 29, 29, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(211, 29, 29, 0.6);
    outline: 0 none;
}

.convert {
    width: inherit;
}

.bar {
    /* margin: 10px 0 10px 0; */
    height: 50px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

footer {
    margin-top: auto;
    /* background-color: rgb(175, 175, 175); old color */
    background-color: #2b3035;
    color: whitesmoke;
}

footer .footer_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.github {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.github h2 {
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.github p {
    padding: 0;
    margin: 0;
    margin-left: 25px;
    font-style: italic;
    font-size: 8px;
}

footer .description {
    font-size: 14px;
    /* margin: 10px 0 0 0; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

footer .description p {
    margin: 0;
}

footer .contact {
    font-size: 11px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 990px) {

    footer .description {
        display: flex;
        flex-direction: column;
    }

    footer .github {
        display: none;
    }

    footer .contact p {
        display: inline;
    }

    nav .fullscreen {
        display: none;
    }

    footer .contact {
        display: flex;
        justify-content: space-between;
    }

    .gadgets {
        display: flex;
        justify-content: flex-end;
    }

    nav .gadgets .theme {
        margin: 0;
    }

}

@media screen and (min-width: 991px) {
    #github-mini {
        display: none;
    }
    
    .fullscreen {
        display: inline;
    }

    nav .gadgets .theme {
        margin-right: 30px;
    }
}

.alert-display {
    display: inline-block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    /* margin: 30vh 30vw; */
}

.h_tonic {
    /* On
    transition: 2s;
    border-radius: 10px;
    border-color: rgba(211, 29, 29, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(211, 29, 29, 0.6);
    outline: 0 none;

    Off
    transition: 2s;
    border-radius: none;
    border-color: black;
    box-shadow: none;
    outline: 0 none; */
}